$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #0081FE;
$secondary_paletteKeyColor: #707598;
$tertiary_paletteKeyColor: #7870A4;
$neutral_paletteKeyColor: #737782;
$neutral_variant_paletteKeyColor: #717785;
$background: #0F131C;
$onBackground: #DFE2EF;
$surface: #0F131C;
$surfaceDim: #0F131C;
$surfaceBright: #353943;
$surfaceContainerLowest: #0A0E17;
$surfaceContainerLow: #171C25;
$surfaceContainer: #1B2029;
$surfaceContainerHigh: #262A33;
$surfaceContainerHighest: #30353E;
$onSurface: #DFE2EF;
$surfaceVariant: #414753;
$onSurfaceVariant: #C1C6D6;
$inverseSurface: #DFE2EF;
$inverseOnSurface: #2C303A;
$outline: #8B919F;
$outlineVariant: #414753;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #AAC7FF;
$primary: #AAC7FF;
$onPrimary: #002F64;
$primaryContainer: #00458E;
$onPrimaryContainer: #D6E3FF;
$inversePrimary: #005DB9;
$secondary: #C0C4EB;
$onSecondary: #292E4D;
$secondaryContainer: #424767;
$onSecondaryContainer: #E0E2FF;
$tertiary: #C9BFF8;
$onTertiary: #312A58;
$tertiaryContainer: #938ABF;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #D6E3FF;
$primaryFixedDim: #AAC7FF;
$onPrimaryFixed: #001B3E;
$onPrimaryFixedVariant: #00458E;
$secondaryFixed: #DEE0FF;
$secondaryFixedDim: #C0C4EB;
$onSecondaryFixed: #141937;
$onSecondaryFixedVariant: #404565;
$tertiaryFixed: #E6DEFF;
$tertiaryFixedDim: #C9BFF8;
$onTertiaryFixed: #1C1442;
$onTertiaryFixedVariant: #484070;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #151B26;
$term1: #8882FF;
$term2: #64DCF0;
$term3: #FFDCF3;
$term4: #8BADD4;
$term5: #9DA5EF;
$term6: #95D0FB;
$term7: #E8D3DE;
$term8: #C3B5C0;
$term9: #BDB9FF;
$term10: #F7FDFF;
$term11: #FFFFFF;
$term12: #C9DEF5;
$term13: #D6D6FF;
$term14: #F7FAFF;
$term15: #D7E2FF;